<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Instacart</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Grenze:wght@100&family=Ruslan+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <style>

      table {
        counter-reset: rowNumber;
      }

      table tr:not(:first-child) {
        counter-increment: rowNumber;
      }

      table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
      }
      #example{
        width:75%;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#example').DataTable();
      });
    </script>
  </head>
  <body>

      {% block body %}
        <div align = "center" >


        {% if exec_time!="" %}
          <h4>Time elapsed: <b>{{exec_time}}</b></h4>
        {% endif %}
        {% if last_q!="" %}
          <h4>Last executed query: <b>{{last_q}}</b></h4>
        {% endif %}
        <br>
	      {% for col in column_names[:1] %}
          <a class="btn btn-primary" role="button"href="http://flastfinalproject-env.eba-x3qqhbgk.us-east-2.elasticbeanstalk.com/getPlotCSV">Click here to download CSV File</a>
          <br><br><br>
          <table id="example" class="table table-striped table-hover table-bordered">
            <tr>
              <th>#</th>
                {% for col in column_names %}
                <th scope="col">{{col}}</th>
                {% endfor %}
            </tr>
            {% for row in row_data %}
            <tr id="row">
                <td></td>
                {% for col, row_ in zip(column_names, row) %}
                  <td>{{row_}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
          </table>
        {% else %}
          <p></p>
        {% endfor %}
      {% endblock %}
  </body>
</html>